<section id="projects" class="interior">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="page-top">
					<img class="img-responsive" src="images/fss-export.png">
					<h2>Projects</h2>
				</div>
			</div>
			<div class="project">
				<div class="col-xs-4">
					<div class="project-copy">
						<span>August</span>
						<div class="inner">
							<span class="date">25</span>
							<span class="title">HG Skis - 2014</span>
							<ul>
								<li>Custom Wordpress Theme</li>
								<li>Responsive</li>
								<li>Designed by: <a href="http://charlesstemen.com" target="_blank">Charles Stemen</a></li>
								<li><a href="http://hgskis.com" target="_blank">hgskis.com</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-8">
					<img class="img-responsive vanity" src="images/projects/hgskis-2014.jpg">
				</div>
			</div>
			<div class="project">
				<div class="col-xs-4">
					<div class="project-copy">
						<span>July</span>
						<div class="inner">
							<span class="date">21</span>
							<span class="title">Alpine Amusement - 2014</span>
							<ul>
								<li>Custom Wordpress Theme</li>
								<li>Responsive</li>
								<li><a href="http://alpineamusement.com" target="_blank">alpineamusement.com</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-8">
					<img class="img-responsive vanity" src="images/projects/alpineamusement.jpg">
				</div>
			</div>
			<div class="project">
				<div class="col-xs-4">
					<div class="project-copy">
						<span>May</span>
						<div class="inner">
							<span class="date">19</span>
							<span class="title">Calkins Networks - 2014</span>
							<ul>
								<li>HTML Template</li>
								<li>Responsive</li>
								<li><a href="http://calkinsnetworks.com" target="_blank">calkinsnetworks.com</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-8">
					<img class="img-responsive vanity" src="images/projects/calkinsnetworks.jpg">
				</div>
			</div>
			<div class="project">
				<div class="col-xs-4">
					<div class="project-copy">
						<span>April</span>
						<div class="inner">
							<span class="date">19</span>
							<span class="title">Charles Stemen Portfolio - 2014</span>
							<ul>
								<li>HTML Template as Single page app</li>
								<li>Free Hosting!</li>
								<li>Responsive</li>
								<li><a href="http://charlesstemen.com" target="_blank">charlesstemen.com</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-8">
					<img class="img-responsive vanity" src="images/projects/charlesstemen.jpg">
				</div>
			</div>
		</div>
	</div>
</section>