<!DOCTYPE html>
<html>
<head>
    <title>BC Theme Preview</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin+Slab:400,600">
    <link rel="stylesheet" href="css/theme-preview/chooser.css">
</head>
<body class="theme-soft">
    <nav class="navbar-tall">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <a href="#" class="brand center-block">
                        <img class="img-responsive" src="images/logo-purp.png" alt="Burlington Collective">
                    </a>
                </div>
                <div class="col-xs-7 col-xs-offset-1">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 little-burst">
                            <ul class="nav navbar-pills nav-justified">
                                <li><a href="#">Nav Link 1</a></li>
                                <li><a href="#">Nav Link 2</a></li>
                            </ul>
                        </div>
                    </div>
                    <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A impedit dolor provident odio, in dolore laboriosam ipsa.</p>
                    <div class="row">
                        <div class="col-xs-3 col-xs-offset-3">
                            <button class="btn-lg btn-block btn-primary">Primary</button>
                        </div>
                        <div class="col-xs-3">
                            <button class="btn-lg btn-block btn-contrast">Contrast</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {{ content }}
    <nav id="theme-chooser">

    </nav>
</body>
</html>